<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="a blog" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="wrapper home">
      <div class="content">
        <a href="/" class="headlink"><h1>It's a blog!</h1></a>
        {# Page or post content will appear here #}
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>